.menu {
  width: 14rem;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 0.2rem;
  --menu-padding: 0.5rem;
}
.profile {
  padding: var(--menu-padding);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user {
  display: flex;
  flex-flow: column;
}
.profile img {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
.netstat {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 12px;
}
.menu nav {
  padding: 0;
  display: flex;
  flex-flow: column;
  gap: 0.2rem;
}

.navlink {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: var(--menu-padding);
  font-size: 14px;
  text-decoration: none;
}
.navlink.active,
.navlink:hover {
  border-radius: 0.25rem;
  background-color: lightgrey;
}
.navlink span {
  width: 0.75rem;
  font-size: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: grey;
  color: white;
  text-align: center;
  margin-left: auto;
}
