body {
  margin: 0;
  padding: 0;
}
.header {
  position: absolute;
  text-align: center;
  padding: 1rem;
  width: 100%;
  top: 0;
  left: 0;
}
.header h2 {
  margin: 0;
}
.cta-container {
  display: flex;
  gap: 0.5rem;
}
