html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}
.container {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: row;
}
.header h2 {
  margin: 0;
}
.toggle {
  display: none;
}
main {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 1rem 2rem;
}
.todo-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.todo-list {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  scrollbar-width: 2px;
  -ms-overflow-style: scrollbar;
}
.todo-list::-webkit-scrollbar {
  width: 2px;
}
form {
  width: 100%;
}
.menu::after {
  position: absolute;
  width: 0;
  height: 0;
}
@media (max-width: 760px) {
  main {
    padding: 2rem 1rem 1rem 1rem;
  }
  .menu.open + .utility {
    position: fixed;
    background-color: lightgrey;
    opacity: 0.2;
    z-index: 9997;
    inset: 0;
  }
  .menu.open + main {
    opacity: 0.7;
  }
  .toggle {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    font-size: 1.125rem;
    display: block;
    cursor: pointer;
    z-index: 9999;
  }
}
