body {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.container {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: row;
}
.header h2 {
  margin: 0;
}
main {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 0.5rem 2rem;
}
.todo-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.todo-list {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  scrollbar-width: 2px;
  -ms-overflow-style: scrollbar;
}
.todo-list::-webkit-scrollbar {
  width: 2px;
}
form {
  width: 100%;
}

.menu::after {
  position: absolute;
  width: 0;
  height: 0;
}
@media (max-width: 760px) {
  main {
    padding: 1rem;
  }
  .menu {
    position: absolute;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
    background-color: #fff;
  }
  .menu.open {
    transform: translateX(0);
  }
  .menu.open + .utility {
    position: absolute;
    background-color: lightgrey;
    opacity: 0.2;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
  }
  .menu.open + main {
    opacity: 0.7;
  }
}
